@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SinaMerchant WebShop</h1>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success p-1">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }
</div>
