@model ResetPassViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ForgotPassword";
}

<div class="form-signin w-100 m-auto">
    <h4>Please enter a new password</h4>
    <form asp-controller="Account" asp-action="ResetPassword">

        <div class="form-floating Pass">
            <input asp-for="Password" type="password" class="form-control" id="floatingInput" placeholder="Passsword" />
            <label asp-for="Password" for="floatingInput">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating ConfirmPass">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
            <label asp-for="ConfirmPassword" for="floatingPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="w-100 btn btn-lg btn-primary resetButton" type="submit">Reset Password</button>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
